


*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}







.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag + .tag {
    margin-left: .5em;
}

.tag-blue {
    background: #f9b299;
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}