

bottone {
	border: 2px solid #4f7978;
  color: #000000;
  background-color: #f9b299;
  border-color: #4f7978;
}

bottone:hover {
	color: #000000;
  background-color: #f9b299;
  border-color: #4f7978;
}