

btn {
	border: 2px solid #4f7978;
  background-color: #f9b299;
  color: #4f7978;
  border-color: #4f7978;
}

btn:hover {
  background-color: #f9b299;
  color: #f9b299;
}

.nav-link {
	display: inline;
}

